<h1>New Test</h1>


<%= form_for @test,url: create_test_path do |f| %>
  <p>
    <%= f.label :test %><br>
    <%= f.text_field :test %>
  </p>
 
  <p>
    <%= f.label :validado %><br>
    <%= f.check_box :validado %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', tests_path %>
