    <!-- Page Content -->
    
    <div class="container">
         <div class="row">
          <h4 style="margin-left:16px; text-align:center; margin-bottom: 30px; font-size: 27px; margin-top: 16px; color:#043956;">Para ingresar a la Plataforma de Evaluaci칩n de Car치cter Diagn칩stico Formativa, por favor seleccione su tipo de usuario.</h4>
          <hr style="border: 2px solid #ddd; width:100%;">
  <div class="col-sm-4">
    <div class="thumbnail" style="padding: 17px; background-color: #205079;">
      <a href="">
        <img src="<%= asset_path 'evaluado.png' %>" onmouseover="this.src='<%= asset_path 'evaluado2.png' %>';" onmouseout="this.src='<%= asset_path 'evaluado.png' %>';"/>
        </a>
      <div class="caption">
        <h3 style="text-align:center; margin-top: 5px; color:#fff;">Evaluado</h3>
       <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
       
        <div class="prof">       
          <a href="/profesor" class="btn btn-success" role="button">Ingresar</a>
        </div>       
        </div>       
      </div>
      </div>   
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail" style="padding: 21px; background-color: #205079;">
      <a href="inicio_camarografo.html">
        <!--<%= image_tag("camarografo.png", alt:"camarografo", onmouseover:"this.src='camarografo2.png';", onmouseout:"this.src='img/camarografo.png';") %>-->
        <!--<img src="images/camarografo.png" onmouseover="this.src='images/camarografo2.png';" onmouseout="this.src='img/camarografo.png';"/>-->
        <img src="<%= asset_path 'camarografo.png' %>" onmouseover="this.src='<%= asset_path 'camarografo2.png' %>';" onmouseout="this.src='<%= asset_path 'camarografo.png' %>';"/>
        </a>
      <div class="caption">
        <h3 style="text-align:center; margin-top: 5px; color:#fff;">Camar칩grafo</h3>
       <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
     
        <div class="prof">       
          <a href="/?hidden_access=1" class="btn btn-success" role="button">Ingresar</a>
        </div> 
	
        </div>       
       </div>
      </div>   
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail" style="padding: 21px; background-color: #205079;">
      <a href=""><img src="<%= asset_path 'par_evaluador.png' %>" onmouseover="this.src='<%= asset_path 'par_evaluador2.png' %>';" onmouseout="this.src='<%= asset_path 'par_evaluador.png' %>';"/></a>     
      <div class="caption">
        <h3 style="text-align:center; margin-top: 5px; color:#fff;">Par Evaluador</h3>
       <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
        <div class="prof">       
          <a href="/?hidden_access=1" class="btn btn-success" role="button">Ingresar</a>
        </div>  
        </div>       
      </div>
      </div>   
    </div>
  </div>

  <div class="col-sm-6">
   <div class="thumbnail" style="padding: 21px; background-color: #205079;">
       <a href=""><img src="<%= asset_path 'monitor.png' %>" onmouseover="this.src='<%= asset_path 'monitor2.png' %>';" onmouseout="this.src='<%= asset_path 'monitor.png' %>';"/></a>       
      <div class="caption">
        <h3 style="text-align:center;margin-top: 5px; color:#fff;">Monitor</h3>
       <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
        <div class="prof">       
          <a href="/?hidden_access=1" class="btn btn-success" role="button">Ingresar</a>
        </div>  
        </div>       
      </div>
      </div>     
   
    </div>
  </div>
    <div class="col-sm-6">
    <div class="thumbnail" style="padding: 21px; background-color: #205079;">
      <a href=""><img src="<%= asset_path 'administrador.png' %>" onmouseover="this.src='<%= asset_path 'administrador2.png' %>';" onmouseout="this.src='<%= asset_path 'administrador.png' %>';"/></a> 
      <div class="caption">
        <h3 style="text-align:center;margin-top: 5px; color:#fff;">Administrador</h3>
        <div class="row">
        <div class=".col-md-6 .col-md-offset-3">
        <div class="prof">
        <!-- <a href="/?hidden_access=1" class="btn btn-success" role="button">Ingresar</a> -->
          <a href="/?hidden_access=1" class="btn btn-success" role="button">Ingresar</a>
        </div>  
        </div>       
      </div>
      </div>
    </div>
   
  </div>
</div>
    </div>
    <!-- /.container -->
    <br>