<p id="notice"><%= notice %></p>

<p>
  <strong>Perfiles:</strong>
  <%= @permiso.perfiles %>
</p>

<p>
  <strong>Estados:</strong>
  <%= @permiso.estados %>
</p>

<%= link_to 'Edit', edit_permiso_path(@permiso) %> |
<%= link_to 'Back', permisos_path %>
