<p id="notice"><%= notice %></p>

<% @Titulo="Evaluados" %>
<%= @permisos %>



	<h1>Bienvenido Módulo Evaluados</h1>
	<HR width=100% align="left">	
	<br />
	<br />
	<div class="btn-group">
		<% if check_perfiles ["subir_evaluados"] %>	
		    <div class="btn-group">
			  <button title="Acciones para subir evaluados al sistema" type="button" class="btn btn-info">Subir Evaluadores</button>
			  <button title="" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
		      </button>		  
		      <ul class="dropdown-menu">
			    <li role="separator" class="divider"></li>
			    <li><a title="Cargar registros de evaluados al sistema"  type="button" class="btn btn-info" data-toggle="modal" href="#cargar_base">Subir base evaluados</a></li>		       
			  </ul>
		    </div>	
		<% end %>
		<% if check_perfiles ["ver_reportes_evaluados"] %>	 
	      <button title="Reporte consoilidado del estado de las evaluaciones"  class="btn btn-info" data-toggle="modal" href="#estado_evaluacion">Estado Evaluaciones</button>
	    <% end %>
	</div>
	<br />
	<HR width=50% align="left">	
	<div class="row">
		<div id="filtro">
		  <%= render "layouts/evaluados/filtro_evaluados" %> 
		</div>	 
	 <div class="col-md-6">
	       <div class="btn-group">
			  <button title="Filtros de evaluados"  type="button" id="filtrar" class="btn btn-default">Ver criterios de búsqueda</button>
			  <button title="Ocultar el filtro de evaluados"  type="button" id="filtrar_ocultar" class="btn btn-default">Ocultar criterios de búsqueda</button>			  
			</div>
			<h2>Listar Evaluados</h2>
		      <table class="table table-bordered" data-pagination="true " >
				   <tr>
					   <td colspan=16 style='text-align: left;'> 
					  	<%=  image_tag("excel.png", size: "30") %>
		                <%=  image_tag("pdf.jpg", size: "30") %>
		               </td>						
				   </tr>		
				<tr>
						<th>id</th>
						<th>Tipo documento</th>
						<th>Número documento</th>
						<th>Nombres</th>
						<th>Apellido Paterno</th>
						<th>Apellido Materno</th>							
						<th>Sección educativa</th>
						<th>Dirección</th>
						<th>Teléfono</th>
						<th>Celular</th>
						<th>Email</th>
						<th>Secretaría educación</th>
						<!--th>Ascenso</th>
						<th>Asignación</th -->
						<th>Estado</th>		
						<th>Acciones</th>							
				</tr>					
			    <%  contador=0 %>
			    <%  @consulta_general.each do |persona| %>
			    <tr>
			        <td><%= contador +=1 %></td>
			        <td><%= persona.tipo_documento.documento %></td>
			        <td><%= persona.documento %></td>
			        <td><%= persona.nombre %></td>
			        <td><%= persona.apellido_paterno %></td>
			        <td><%= persona.apellido_materno %></td>        
			        <td><%= persona.seccion %></td>         
			        <td><%= persona.direccion %></td>
			        <td><%= persona.telefono %></td>
			        <td><%= persona.celular %></td>
			        <td><%= persona.email %></td>
			        <td><%= persona.secretaria_educacion %></td> 
			        <td><%= persona.estado.estado %></td>
			        <td>
			        <% if check_perfiles ["editar_profesores"] %>		
			        	  <%= link_to 'Ver', persona_path(persona) %>|<%= link_to 'Editar', edit_persona_path(persona) %>
			        <% end %>		
			       </td>
			
			     </tr>
		    <% end %>			
					<tr>
					<td colspan=4> Total: <%= @consulta_general.count %> </td>
					<td colspan=12 align="rigth">
						<nav>
						  <ul class="pagination">				   
						    <%= will_paginate(@consulta_general) %>	     
						  </ul>
						</nav> 
					</td>
					</tr>																												
			</table>	
	      </div>
	 
	</div>
		 


<!-- Cargamos el parcial modal de cargar base-->
<%= render "layouts/cargar_csv/modal_cargar_base" %>
<!-- Cargamos el parcial modal de Esrado evaluacion-->
<%= render "layouts/reportes/modal_estado_evaluacion" %>








