<p id="notice"><%= notice %></p>

<h1>Listing Video Estados</h1>

<table>
  <thead>
    <tr>
      <th>Video estado</th>
      <th>Video estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_estados.each do |video_estado| %>
      <tr>
        <td><%= video_estado.video_estado %></td>
        <td><%= video_estado.video_estado_id %></td>
        <td><%= link_to 'Show', video_estado %></td>
        <td><%= link_to 'Edit', edit_video_estado_path(video_estado) %></td>
        <td><%= link_to 'Destroy', video_estado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video estado', new_video_estado_path %>
