<p id="notice"><%= notice %></p>

<p>
  <strong>Video estado:</strong>
  <%= @video_estado.video_estado %>
</p>

<p>
  <strong>Video estado:</strong>
  <%= @video_estado.video_estado_id %>
</p>

<%= link_to 'Edit', edit_video_estado_path(@video_estado) %> |
<%= link_to 'Back', video_estados_path %>
