<p id="notice"><%= notice %></p>

<h1>Listado de Itemes de Pauta</h1>

<table>
  <thead>
    <tr>
      <th>Pauta</th>
      <th>cod_item</th>
      <th>Categoria</th>
      <th>cod_dimension</th>
      <th>cod_sub_dimension</th>
      <th>cod_afirmacion</th>
      <th>cod_evidencia</th>
      <th>Item</th>
      <th>Escala</th>
      <th>Orden item</th>
      <th>Ejemplos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grilla_itemes.each do |grilla_item| %>
      <tr>
        <td><%= link_to(grilla_item.grilla.grilla, grilla_path(grilla_item.grilla)) %></td>
        <!-- <td><%= grilla_item.grilla %></td> --> 
        <td><%= grilla_item.cod_item %></td>
        <!-- <td><%= grilla_item.categoria %></td> -->
        <td><%= grilla_item.categoria.select_string %></td>
        <td><%= grilla_item.cod_dimension %></td>
        <td><%= grilla_item.cod_sub_dimension %></td>
        <td><%= grilla_item.cod_afirmacion %></td>
        <td><%= grilla_item.cod_evidencia %></td>
        <td><%= grilla_item.item %></td>
        <td><%= grilla_item.escala %></td>
        <td><%= grilla_item.orden_item %></td>
        <td><%= grilla_item.ejemplos %></td>
        <td><%= link_to 'Mostrar', grilla_item %></td>
        <td><%= link_to 'Editar', edit_grilla_item_path(grilla_item) %></td>
        <td><%= link_to 'Eliminar', grilla_item, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo item de Pauta', new_grilla_item_path %>
