<div class="profile-sidebar">
  <h3>Bienvenido</h3>
  <!-- END SIDEBAR USERPIC -->
  <!-- SIDEBAR USER TITLE -->
  <div class="profile-usertitle"> 
    <h4><%= current_persona.nombre_completo %></h4>
  </div>
  <!-- END SIDEBAR USER TITLE -->
  <!-- SIDEBAR BUTTONS -->
  <div class="row" style="margin-top:25px;">
    <div class="profile-userbuttons">          
      <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
        <div class="col-md-6">
          <%= link_to(notificaciones_path) do %>
          <img rel="tooltip" data-original-title="Notificaciones" class="responsive" src="<%= image_path("icono.png")%>" alt=""/><span class="badge bg-theme"><%= current_persona.notif_new_tooltip%></span>
          <% end %>
        </div>
      </a>
      <div class="col-md-6">
        <%= link_to(posts_path) do %>
        <img rel="tooltip" data-original-title="Anuncios" class="responsive" src="<%= image_path("icono1.png") %>" alt=""/><span class="badge bg-theme"><%= current_persona.blog_new_tooltip%></span>
        <% end %>
      </div>
    </div>
  </div> 
  <!-- END SIDEBAR BUTTONS -->
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
    <ul class="nav">
      <li>
        <a href="#videotutorial" data-toggle="modal" ><span><img src="<%= image_path("icono_tuto.png") %>" alt=""/>Video Tutorial</a></span>
      </li>
      <li>
        <a href="#" target="_blank"><span><img src="<%= image_path("icono_ayuda.png")%>" alt=""/></span> Ayuda </a>
      </li>
      <li>
        <%= link_to destroy_persona_session_path, method: :delete do %>
          <span><img src="<%= image_path("icono_cerrar.png") %>" alt=""/></span> Cerrar</a>
        <% end %>
      </li>
    </ul>
  </div>
  <!-- END MENU -->
</div>