<!DOCTYPE html PUBLIC>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
	
</head>
<body style="width:100% !important;   -webkit-text-size-adjust:100%;   -ms-text-size-adjust:100%;   margin:0;   padding:0;">
	<table class="body" style="border-spacing: 0;   border-collapse: collapse;  height: 100%;   width: 100%; color: #222222;
  font-family: Helvetica, Arial, sans-serif;   font-weight: normal;   padding:0;   margin: 0;   text-align: left;   line-height: 1.3;">
		<tr>
			<td class="center" align="center" valign="top">
        <center>


          <table class="row header" style="background: #273B47;">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns" style="width: 580px;">
                          <tr>

                            <td class="six sub-columns">
                            	<%= image_tag("logo_landing.png", :style =>"outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;  width: auto; max-width: 100%; float: left; clear: both; display: block;") %>
                            </td>
                            <td class="six sub-columns last" align="right" style="text-align:right; vertical-align:middle;">
                            </td>
                            <td class="expander"></td>

                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>
          <br>

          <table class="container" style="width: 580px;  margin: 0 auto;   text-align: inherit;">
            <tr>
              <td>

                <!-- content start -->
                <table class="row" style="padding: 0px; width: 100%;  position: relative;">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns" style="margin: 0 auto;">
                        <tr>
                          <td>
                           <%= image_tag("background.png", :style =>"margin-top: 20px; outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;  width: auto; max-width: 100%; float: left; clear: both; display: block;", :width => 580, :height =>300) %>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns" style="margin: 0 auto; width: 580px;">
                        <tr>
                          <td class="panel" style="background: #273B47;    border-color: #b9e5ff; height: 100px;">

                            <h3 style="text-align: -webkit-center;color: #EDCD33;    margin-top: 10px;">BIENVENIDO <%=@user.nombre_completo %> A LA PLATAFORMA DE EVALUACIÓN DE CARÁCTER DIAGNÓSTICO FORMATIVO(ECDF).</h3>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>


	   <table>
	   <tr style="text-align: -webkit-center;">
	    <td>
	    	<%= image_tag("logo_01.png", :style =>"width:70%;") %>
	    </td>
	    <td>
	    	<%= image_tag("icfes.jpg", :style =>"width:70%;") %>
	    </td>
	    <td>
	    	<%= image_tag("aprende.png", :style =>"width:70%;") %>
	    </td>
	   
	   </tr>
	   
	  </table>


                <table class="row footer" style="padding: 0px;   width: 100%;   position: relative; margin-top:20px;">
                  <tr>
                 
                    <td class="wrapper last" style=" padding-right: 0px; background: #ebebeb; height: 102px;">

                      <table class="six columns" style="margin: 0 auto;">
                        <tr>
                          <td class="last right-text-pad" style="line-height: 9px;">
                            <h6 style="text-align:center; margin-bottom: 20px; font-size: 19px;">Info Contacto:</h6>
                            <p style="text-align:center; font-size: 15px;">Contacto: (571) 6067125</p>
                            <p style="text-align:center; font-size: 15px;">Correo Electronico: <a href="mailto:Contactomaestro2025@icfes.gov.co">Contactomaestro2025@icfes.gov.co</a></p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>


                <table class="row" style="padding: 0px;  width: 100%;   position: relative;">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns" style="width: 580px;">
                        <tr>
                          <td align="center">
                            <center>
                              <!--p style="text-align:center; color: #222222;   padding:0;   margin-top: 5px;   line-height: 1.3;"><a href="#">Terminos y Condiciones</a> | <a href="#">Privacy</a></p -->
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <!-- container end below -->
              </td>
            </tr>
          </table>

        </center>
			</td>
		</tr>
	</table>
</body>
</html>
